* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: aqua;
}

.container {
  padding: 1%;
  height: 100%;
}

.sub-container {
  margin: 10%;
  background-color: lawngreen;
}

.user {
  font-size: 30px;
  padding: 3%;
  border: 2px solid black;
}

.posts {
  margin: 20px 100px;
  padding: 3%;
}

.post {
  border: 2px solid black;
  margin: 20px 0;
  padding: 3%;
  font-size: 22px;
}
